<div fxLayout="row wrap" class="archive" fxLayoutAlign="center center" (click)="getArchieveNotes()">
   Your Archived Notes Appear Here
</div>

<!-- <app-note [pinArray]="unPinData"></app-note> -->


<!-- <div >

   <p>{{message}}</p> 
     
      <div *ngIf="flag==true">
         <button mat-raised-button disabled (click)="reverseFlag()">{{action}}</button>
         <mat-icon>clear</mat-icon>
      </div> 
      
      <div *ngIf="flag==false" >
        <p>{{result}}</p>
   </div>
      
      
</div> -->