
// @import "../../scss/mixins.scss";
// @import "../../scss/variables.scss";
// .archive{
//     margin-top: 100px;
//      font-family: $font-family;
//     font-size: 1.375rem;
//     font-weight: 400;
//     line-height: 1.75rem;
//     color: #33333366;
// }