<div *ngIf="flag==true"   (click)="reverseFlag()" fxLayout="row" fxLayoutAlign="space-around start" fxFlex="100">
  <mat-card fxFlex="50" fxFlex.xs='97' class="matcard" fxLayoutAlign="space-between center"  >
    <div data-text="Take a note.." class="Border" id="noteTitle" fxLayout="column" contenteditable="true" class="maincard">
    </div>

    <div fxLayout="row" fxLayoutAlign="end start" fxFlex.xs="100">
      <mat-icon class="check" matTooltip="New List">check_box</mat-icon>

      <mat-icon class="brush" matTooltip="Drawing is not available">brush</mat-icon>

      <mat-icon class="insert" matTooltip="New note with image">insert_photo</mat-icon>
      
    </div>

  </mat-card>
</div>


<div *ngIf="flag==false" fxLayout="row" fxLayoutAlign="space-around start" fxFlex="100">

  <mat-card fxLayout="column" class="matcard" fxFlex="50" fxFlexOffset.xl="20" fxFlex.xs='97' [style.backgroundColor]="color">
    <div fxLayout="row" fxLayoutAlign="end start" >
    <button  mat-icon-button color="basic" (click)="pinned()">
      <div class="barpin" *ngIf="flag1==true"   >
        
            <!-- <img src="../../../assets/image/note.svg" /> -->
        
      </div>
      <div class="barpin"  *ngIf="flag1==false"  >
         
          <img  src="../../../assets/image/pinbar.svg">
      </div>
    </button>
  </div>
    <div contenteditable="true" data-text="Title" fxFlex="30" id="noteContent" [formControl]="noteTitle" fxLayout="column" class="title" >
      
    </div>
   
   
    
    <!-- <div contenteditable="true" data-text="Take a note.." class="Border" fxLayout="column" class="takenote">

    </div> -->
    <div class="Border" fxLayout="column" class="takenote">
      <textarea class="textArea" matTextareaAutosize placeholder="Take a note.. " [formControl]="noteContent" class="textArea"></textarea>
    </div>

        <div fxLayout="row wrap" class="spacebetween">
            <div *ngFor="let index of collaborator">
              <button mat-mini-fab color="primary" matTooltip={{index.email}} >
                {{index.firstName|slice:0:1 | uppercase }}
               </button>
            </div>
          </div><br>
          
    <div>
      <div fxFlexOffset="10"  fxLayout="row" fxLayoutAlign="space-between end" fxFlex.xs="90">
          <app-icon-list (colorEmit)="Changes($event)" ></app-icon-list>
          <div  fxLayout="row" fxFill.xs  fxLayoutAlign="end end" fxFill  fxFlex.xs="5">
    <button class="addnote" mat-button (click)="addNote()" >close</button>
  </div>
    
  </div>
</div>
  
  </mat-card>
</div>


<!-- --------------------------------------------------------------------------------------------------------------- -->
<!-- <div class="padding">
    <div class="collaborator">
      <h3>Collaborators</h3>
    </div>
  
  
    <div fxLayout="row">
      <div class="nameDivision"> -->
        <!-- <div *ngIf="image!=''">
          <img src="" class="image">
        </div> -->
        <!-- <button mat-mini-fab color="primary" class="userlatter">
          {{firstName | slice:0:1}}
        </button>
      </div>
      <div fxLayout="column" class="top">
        <div class="nameDivision1">
          <span>{{firstName}} {{lastName}} (Owner)</span>
        </div>
        <div class="nameDivision2">
          {{email}}
        </div>
      </div>
    </div>
  
  
    <div fxLayout="row" *ngFor="let data of collaborator" class="nameDivision">
      <div fxFlex=2.5>
        <button class="names" mat-mini-fab color="primary">
          {{data.firstName | slice:0:1}}</button>
      </div>
      <div fxFlex=95 fxLayout="column">
        <div class="nameDivision3">
          <span> {{data.firstName | titlecase}}</span>
        </div>
        <div class="nameDivision4">
          {{data.email}}
        </div>
      </div>
      <div fxFlex=2.5 class="close">
        <mat-icon (click)="deleteCollaborator(data)">close</mat-icon>
      </div>
    </div>
  
  
  
    <div fxLayout="row" class="nameDivision">
      <div fxflex=2.5><button class="names" mat-mini-fab disabled><i class="material-icons">
            person_add
          </i></button></div>
      <div fxFlex="95">
        <mat-form-field>
          <input matInput class="reset" [formControl]="searchWord" [matMenuTriggerFor]="datas"
            placeholder="Person or Email To Share With">
        </mat-form-field>
      </div>
      <div fxFlex=2.5 class="close">
        <mat-icon (click)="search()" >done</mat-icon>
      </div>
    </div>
    <mat-menu #datas="matMenu" [overlapTrigger]="false">
      <button mat-menu-item *ngFor="let item of userList | slice:0:6"
        (click)="save(item);select(item.email)" (click)="addLine(searchword)">{{item.firstName}}
        <{{item.email}}> </button>
    </mat-menu>
  
    <div class="buttonscolor">
      <div class="buttons" fxLayout="row" fxLayoutAlign="end" fxLayoutAlign="space-between">
        <div>
          <button mat-button (click)="close()">Cancel</button>
        </div>
        <div>
          <button mat-button (click)="close()">Save</button>
        </div>
      </div>
    </div>
  </div> -->