
.cartCard{
    background-color: #5C6BC0;
    border-radius: 15px;
    border: lightgrey solid 1px;
 

    .cartHeader{
        font-size: 120%;
        font-family: sans-serif;
        color:white;
    }
}

