.matcard{
   
    margin-top: 20px;
}
.Border{
    border-color: white;
}


[contentEditable=true]:empty:not(:focus):before{
    content:attr(data-text)
}

.maincard{
    width: 60%;
    color: rgb(173, 166, 166);
    //margin-top: 30px;
}

