<div fxLayout="column" fxLayoutAlign="space-evenly center">

    <div fxLayout="row" fxLayoutAlign="start center">
        <p>Notes in Trash are deleted after 7 days.</p>
    </div>

    <div class="empty" fxLayoutAlign="start end ">
        <button mat-button >Empty Trash</button>

    </div>
</div>

<div fxLayout="row" fxLayoutAlign="space-evenly end">
    <div class="trnote" fxFlex.xs="98" fxLayoutGap="20px grid" fxFlex="80" fxLayout="row wrap"
         >
        <div *ngFor="let items of trashcards ; let i = index">
            <div>
                <mat-card class="minicard" [style.backgroundColor]="items.color">
                    <!-- [style.backgroundColor]="items.childColor" -->
                    <div>
                        <div fxLayout="row" class="trashTitle">
                            <div (click)="openDialog(item)">{{items.title}}</div>
                            <!-- <div fxLayout="row" fxLayoutAlign="end start"><button mat-icon-button>
                                        <mat-icon>menu</mat-icon>
                                    </button>
                                </div> -->
                        </div>
                        <div class="trashDescription">
                        <div>{{items.description}}</div>
                    </div>
                        <div class="icons-div" fxLayout="row" fxLayoutAlign="start end">
                            <button mat-icon-button [matMenuTriggerFor]="delete">
                                <mat-icon>more_vert</mat-icon>
                            </button>
                           <mat-menu #delete="matMenu">
                            <button mat-menu-item (click)="removeNotes()">
                              Delete forever
                            </button>
                            <button mat-menu-item>
                             Restore
                            </button>
                           </mat-menu>


                        </div>
                    </div>
                </mat-card>
            </div>
        </div>
    </div>
</div>