<div fxLayout="column">
  <div fxLayout="row">
    <!-- <div fxFlex.lg="5" fxFlex.md=5 fxFlex.sm=10 fxFlex.xs=0></div> -->
    <div fxFlex.lg="100" fxFlex.md=100 fxFlex.sm=80 fxFlex.xs=100 class="mainCard">
      <mat-card>
        <div fxLayout="row" fxLayoutAlign="space-between center">
          <div class="start" [innerHTML]="title"></div>
          <button mat-button routerLink="/home/notes">Close</button>
        </div>
        <div class="start" [innerHTML]="description"></div>
        <div *ngFor="let list of checkList">
          <div>
            <mat-checkbox [ngModel]="true" *ngIf="list.status=='close' && list.isDeleted==false"></mat-checkbox>
            <span *ngIf="list.status=='close' && list.isDeleted==false">{{list.itemName}}</span>
            <mat-checkbox [ngModel]="false" *ngIf="list.status=='open' && list.isDeleted==false"></mat-checkbox>
            <span *ngIf="list.status=='open' && list.isDeleted==false">{{list.itemName}}</span>
          </div>
        </div>
        <hr>
        <div class="start">Question Asked</div>
        <div *ngIf="message != null">
          <div class="question" [innerHTML]="message"></div>
        </div>
      </mat-card>
    </div>
  </div>


  <div class="scrollBar">
  <div fxLayout="row">
    <div fxFlex.lg="95" fxFlex.md=95 fxFlex.sm=80 fxFlex.xs=100 class="displayImage" fxLayout='row'>
      <div fxFlex.lg="6">
        <!-- <div *ngIf="image!=''">
          <img src="{{profile}}" class="image">
        </div> -->
        <button  mat-mini-fab color="accent" class="image">
          {{firstName | slice:0:1}}
        </button>
      </div>
      <div fxFlex.lg="80" fxLayout="column">
        <div  fxLayout="row" class="namer">
        <div>
          {{firstName}}
        </div>
        <div *ngIf="!showIt" class="viewReply" (click)="viewReply()" >
            <i class="material-icons">
                keyboard_arrow_down
                </i>
          <div class="viewIt icon">View Replies</div>
        </div>
        <div *ngIf="showIt"  class="hideReply" (click)="hideReply()">
            <i class="material-icons">
                keyboard_arrow_up
                </i>
                <div class="viewIt icon">Hide Replies</div>
        </div>
      </div>
        <div *ngIf="message == null" >
          <div [froalaEditor]="options" [(froalaModel)]="editorContent" ></div>
          <div fxLayoutAlign="end end">
              <i class="material-icons" (click)="askQuestion()" (click)="getAllAskedNotes()">send</i>
            </div>
        </div>
        <div>
        <div *ngIf="message != null">
          <div class="excess" [innerHTML]="message"></div>
        </div>
       
      </div>

      </div>
      <div fxFlex="row wrap" fxLayoutAlign="end end" class="icon">
        <!-- Reply Icon -->
        <div>
          <mat-icon matTooltip="Reply" (click)="replyNow()">reply</mat-icon>
        </div>
        <!--- rate icons -->
            <div>
                <bar-rating [(rate)]="rate" [max]="5"></bar-rating>              
              </div>
        <!---  like Icon ---->
        <div >
          <img src="../../../assets/image/outline-thumb_up_alt-24px.svg"/>
        </div>
      </div>
    </div>
  </div>



  <!-- reply for 1st division ---->
   <div fxLayout="row"> 
    <div fxFlex.lg="95" fxFlex.md=90 fxFlex.sm=80 fxFlex.xs=100>
      <div *ngIf="reply==1">
        <div class="icon">
          <div fxFlex.lg="80" [froalaEditor]="options" [(froalaModel)]="editorContent" ></div>
          <div fxLayoutAlign="end end">
            <i class="material-icons" (click)="replyHere(editorContent, replyArray.id)">send</i>
          </div>
        </div>
      </div>
    </div>
  </div>

  
  </div>
</div>































