.matCart{
    margin-top: 80px;
}
.goto{
    background-color: #757575;
    height: 25px;
}
.textbutton{
    color: white;
    font-weight: 200;
}
.signFundoo{
    margin-top: 10px;
    font-size: 180%;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
.F{
    color: rgb(218, 29, 29);
}
.u{
    color:rgb(12, 12, 175);
}
.n{
    color:rgb(19, 151, 19);
}
.d{
    color:rgb(12, 12, 175);;
}
.o{
    color:rgb(226, 45, 45);
}
.o1{
    color:rgb(228, 228, 39);
}
.cartSign{
    margin-top: 10px;
    font-size: 120%;
    font-weight: bold;
    color:black;
}
.cartfirst{
    margin-left: 10px;
    width: 250px;
}
.cartlast{
   margin-left: 20px;
   width: 250px;
}
.cartEmail{
    width: 350px;
    margin-left: 10px;
}
.cartpassword{
    width : 350px;
}
.cartFor{
    color: blue;
    font-weight: bold;
    margin-left: 30px;
}
.mainCartCard{
    background-color: #E0E0E0;
    height: 100%;
    width : 200px;
   }
.paymentCard{
    height: 100%;
    width : 200px;
    margin-left: -47px;
}
.spacing1{
    margin-top: 20px;
}

.payment{
    font-size: 120%;
    font-weight: 600;
}
 .lists{
   font-size: 100%;
   font-weight: bold;
}
.spacing{
    margin-top: 10px;
}
.selection{
    color: blue;
}
.addCart{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 120%;

}
.signAnchor{
    color: blue;
    font-size: 120%;
    font-weight: bold;
    cursor: pointer;
    
}
