<div fxLayout="row" fxLayoutAlign="space-around start" fxFlex="50">
  <div *ngIf="clicked==false">
    <button id="Remaind" matTooltip="Remaind me" mat-icon-button [matMenuTriggerFor]="menu4">
      <!-- <mat-icon>notification_important</mat-icon> -->
      <img src="../../../assets/image/outline-notification_important-24px (1).svg"/>
    </button>
  </div>
  <div *ngIf="clicked==true">
    <button id="Remaind" matTooltip="Remaind me" mat-icon-button [matMenuTriggerFor]="timedate">
      <mat-icon>notification_important</mat-icon>
    </button>
  </div>
  <!-- <button  *ngIf="clicked==false"  id="Remaind" matTooltip="Remaind me" mat-icon-button [matMenuTriggerFor]="timedate" >
      <mat-icon>notification_important</mat-icon>
    </button> -->


  <mat-menu #menu4="matMenu" class="matmenu" >
    <div class="remaindMenu" (click)="$event.stopPropagation()" >
      <mat-nav-list >
        <mat-list role="List">

          <mat-list-item role="listitem">
            <h5>Reminder : </h5>
          </mat-list-item>
          <mat-list-item>
            <span>Later Today 8:00 PM</span>
          </mat-list-item>
          <mat-list-item>
            <span> Tomarrow 8:00 AM</span>
          </mat-list-item>
          <mat-list-item>
            <span> Next week Mon, 8:00AM</span>
          </mat-list-item>
          <mat-list-item>
            <div mat-menu-item mat-button (click)="timeMenu()" [matMenuTriggerFor]="timedate">
              Pick date and Time
            </div>
          </mat-list-item>

        </mat-list>
      </mat-nav-list>
    </div>
  </mat-menu>



  <mat-menu #timedate="matMenu" >
    <div (click)="$event.stopPropagation()">
    <mat-list-item >
      <button mat-icon-button >
        <mat-icon>
          <img src="../../../assets/image/outline-keyboard_backspace-24px.svg" />
        </mat-icon>
      </button>
    </mat-list-item>

    <mat-list-item>
      <mat-form-field>
        <input matInput [matDatepicker]="picker"  placeholder="Choose a date" [formControl]="date">
        <mat-datepicker-toggle matSuffix [for]="picker" (click)="$event.stopPropagation()"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </mat-list-item>

    <mat-list-item>
        <mat-form-field >
            <input matInput [ngxTimepicker]="picker2" placeholder="Choose a time" [formControl]="time">
            <ngx-material-timepicker #picker2 (click)="$event.stopPropagation()"></ngx-material-timepicker>
            </mat-form-field>
    </mat-list-item>
     
     <mat-list-item >
       <button mat-stroked-button (click)="dataSave()">Save</button>
     </mat-list-item>
    </div>
  </mat-menu>



  <!--                 
                <div class="menu6">
                <mat-menu #menu6="matMenu">
                 
                    <mat-nav-list>
                        <mat-list role="List">
                  <div class="pickdate">
                    <mat-list-item id="arrowSymbol">
                    <button  mat-menu-item >
                        <mat-icon>
                            <img src="../../../assets/image/outline-keyboard_backspace-24px.svg"/>
                          </mat-icon>
                    </button>
                  </mat-list-item>
                  <mat-list-item id="pickAdjust">

                      <span>Pick date and Time </span>
                     </mat-list-item>
                  
                    </div>

                    <mat-list-item>
                        <mat-form-field class="example-full-width">
                          <input matInput [matDatepicker]="picker" placeholder="Choose a date">
                          <mat-datepicker-toggle matSuffix [for]="picker">
                            <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
                          </mat-datepicker-toggle>
                          <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>
                          </mat-list-item>
                  
                    <button mat-menu-item [matMenuTriggerFor]="menu9">Pick date and Time </button>
                    <mat-menu #menu9="matMenu">
                        <button mat-menu-item>
                          <span>Morning<span class="time8"> 8:00AM</span></span>
                        </button>
                        <button mat-menu-item >
                          <span>Afternoon    1:00PM</span>
                        </button>
                        <button mat-menu-item>
                          <span>Evening 6:00PM</span>
                        </button>
                        <button mat-menu-item>
                          <span>Night 8:00PM</span>
                        </button>
                        <button mat-menu-item>
                          <span>Custom</span>
                        </button>
                      </mat-menu>
                    <mat-list-item>
                      <button mat-menu-item [matMenuTriggerFor]="menu10">Does not repeat</button>
                       <mat-menu #menu10="matMenu">
                         <button mat-menu-item>
                           <span>Does not repeat</span>
                         </button>

                         <button  mat-menu-item >
                            <span>Daily</span>
                          </button>
                         <button  mat-menu-item >
                           <span>weekly</span>
                         </button>
                         <button  mat-menu-item >
                           <span>monthly</span>
                         </button>
                         <button  mat-menu-item >
                           <span>yearly</span>
                         </button>
                         <button  mat-menu-item >
                            <span>Custom</span>
                          </button>
                       </mat-menu>
                     
                    </mat-list-item>

                    </mat-list>
                  </mat-nav-list>
                   
                  </mat-menu>
                </div>
 -->








  <button class="collaborator" (click)="openCollaborator()" matTooltip="collaborator" mat-icon-button>
    <!-- <mat-icon>person_add</mat-icon> -->
    <img src="../../../assets/image/outline-person_add-24px (1).svg"/>
  </button>

  <button [matMenuTriggerFor]="menu5" style="cursor: pointer;" aria-label="change color" matTooltip="change color"
    mat-icon-button>
    <!-- <mat-icon>palette</mat-icon> -->
    <img src="../../../assets/image/outline-palette-24px.svg"/>
  </button>
  <mat-menu #menu5="matMenu" [overlapTrigger]="false">
    <ng-template matMenuContent>
      <div class="buttons">
        <div fxLayout=row fxLayoutGap=10px style="margin-top:5px" *ngFor='let colors of colorArray'>
          <div *ngFor='let color of colors'>
            <button class="colors" [ngStyle]="{'background-color': color.color }" (click)='colorsEdit(color.color,card)'
              matTooltip="{{color.name}}" mat-mini-fab></button>
          </div>
        </div>
      </div>
    </ng-template>
  </mat-menu>


  <button matTooltip="add image" mat-icon-button>
    <!-- <mat-icon>insert_photo</mat-icon> -->
    <img src="../../../assets/image/outline-insert_photo-24px.svg"/>
  </button>

  <button matTooltip="Archieve" (click)="archive()" mat-icon-button>
    <!-- <mat-icon>archive</mat-icon> -->
    <img src="../../../assets/image/archieve.svg"/>
  </button>

  <button mat-icon-button [matMenuTriggerFor]="menu2" matTooltip="more">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menu2="matMenu">
    <button mat-menu-item (click)="deleteNote(card)">
      <span>Delete note</span>
    </button>
    <button mat-menu-item [matMenuTriggerFor]="labelMenu"
    (click)="$event.stopPropagation()">
      <span>Add label</span>
    </button>
    <button mat-menu-item (click)="askQue()">
      <span>ask Question</span>
    </button>
    <!-- <button mat-menu-item (click)="showAns()">
      <span>show answer</span>
    </button> -->
  </mat-menu>

  <div (click)="$event.stopPropagation()">
      <mat-menu #labelMenu="matMenu" [overlapTrigger]="false">
        <mat-icon fxFlex=15>search</mat-icon>
        <input placeholder="Enter Label" fxFlex=85 (click)="$event.stopPropagation()" 
        [(ngModel)]="search">
        <div *ngFor="let index of labelArray | searchBar : search">
          <mat-checkbox (click)=" $event.stopPropagation(); goAndGetLabel(index)">
            {{index.label}}</mat-checkbox>
        </div>
      </mat-menu>
    </div>
  <!-- <button mat-button (click)="messageHit()" >close</button> -->
</div>