.mail{
    width:54%;
    margin-left:23%;
    margin-right:10%;
   
}

#sbutton{
  font-family: sans-serif;
  width: 10%;
  margin-left: 23%;
 
}
#cbutton{
    width: 10%;
    margin-left: 5%;
    
}
.buttons{
   padding-top: 3%;
}
.card{
   width: 60%;
  
}
.header{
    text-align: center;
}
.header1{
    text-align: center;

}