<div fxLayout="row wrap" fxLayoutAlign="center center">
  <div class="styles" [style.backgroundColor]="">
    <div contenteditable="true" id="titleId" class="reset" [formControl]="title" data-text=""></div><br>
    <div contenteditable="true" id="notesId" class="edit" [formControl]="description" data-text=""></div><br>
    <div>
        <app-icon-list></app-icon-list>
        <button  mat-button (click)="updateNote()" >close</button>
    </div>
   
    </div>
    </div>
    

    <div fxLayout="row wrap" class="spacebetween">
      <div *ngFor="let index of data.collaborators" (click)="openCollaboratorPage(data)">
          <button mat-mini-fab color="primary" matTooltip={{index.email}}>
              {{index.firstName|slice:0:1 }}
          </button>
      </div>
  </div><br>
