.reset
{
    
    font-weight: bold;
    word-break: break-all;
}
.edit
{
    padding-top: 6%;
    word-break: break-all;
}
[contentEditable=true]:empty:not(:focus):before{
    content:attr(data-text)
}