<!-- <app-maincard></app-maincard> -->



<div>
    <div *ngIf="subscribeView" class="mininote" fxLayout="row wrap " fxLayoutAlign="center center" fxFlex.xs="98"
        fxLayoutGap="20px grid"  fxFlex="95">

        <div *ngFor="let items of cardsArray | searchBar : Search; let i = index">
            <div [ngClass]="{'grid':toggle,'list':!toggle}">
                <mat-card class="minicard" [style.backgroundColor]="items.color" >
                    <div>
                        <div fxLayout="row">
                            <div (click)="openCard(items)">{{items.title}}</div>
                            <div fxLayout="row" fxLayoutAlign="end start"><button mat-icon-button>
                                    <!-- <img src="../../../assets/image/pinbar.svg" > -->
                                </button>
                            </div>
                        </div>

                        <div (click)="openCard(items)">{{items.description}}</div>


                        <div class="icons-div">
                            <app-icon-list fxLayout="row" [card]="items" fxLayoutAlign="space-between end"
                                (colorEmit)="Changescolor($event)" (childObject)="update($event)">
                            </app-icon-list>
                        </div>
                    </div>
                    <!-- <app-add-archive [archive]="items" (archiveEmit)="deleteEvent($event)"></app-add-archive> -->

                </mat-card>
            </div>
        </div>
    </div>



    <div *ngIf="!subscribeView" class="mininote" fxLayout="column wrap" fxLayoutAlign="center center" fxFlex.xs="98"
        fxLayoutGap="10px grid" fxFlex="80">

        <div *ngFor="let items of cardsArray | searchBar : Search; let i = index">
            <div [ngClass]="{'grid':toggle,'list':!toggle}">
                <mat-card class="maxcard" [style.backgroundColor]="items.color">
                    <div>
                        <div fxLayout="row">
                            <div (click)="getNoteId(items)">{{items.title}}</div>
                            <div fxLayout="row" fxLayoutAlign="end start"><button mat-icon-button>
                                    <!-- <img src="../../../assets/image/pinbar.svg" > -->
                                </button>
                            </div>
                        </div>

                        <div>{{items.description}}</div>
                        <div class="icons-div">
                            <app-icon-list fxLayout="row" [card]="items" fxLayoutAlign="space-between end"
                                (colorEmit)="Changescolor($event)" (childObject)="update($event)">

                            </app-icon-list>
                        </div>
                    </div>
                    <!-- <app-add-archive [archive]="items" (archiveEmit)="deleteEvent($event)"></app-add-archive> -->

                </mat-card>
            </div>
        </div>
    </div>



</div>


<!-- ------------------------------------- adding labels---------------------------------------------------------- -->

<div fxLayout="row wrap">
    <div *ngFor="let index of labelName">
        <mat-chip-list>
            <mat-chip>{{index.label}}
                <mat-icon (click)="cancelLabel()" matChipRemove>cancel</mat-icon>
            </mat-chip>
        </mat-chip-list>
    </div>
</div>


<!-- <div fxLayout="row wrap" class="spacebetween">
    <div *ngFor="let index of notes.collaborators" (click)="openCollaboratorPage(notes)">
      <button mat-mini-fab color="primary" matTooltip={{index.email}} >
        {{index.firstName|slice:0:1 | uppercase }}
       </button>
    </div>
  </div><br> -->




<!-- --------------------------------------Reaminder Display----------------------------------------------------- -->
<!-- 
<div *ngIf="reminderStrike(notes.reminder[0])">
    <div *ngFor="let index of notes.reminder">
        <mat-chip-list>
            <div *ngIf ="(today | date : shortDate)==(index|date:shortDate)">
            <mat-chip >Today {{index|date:'shortTime'}}
              <app-add-reminder style="color:rgb(223,223,223)" [reminder]="notes" 
              (remindEmit)="deleteEvent($event)">
              </app-add-reminder>
                <mat-icon (click)="deleteReminder(notes.id)" matChipRemove>cancel</mat-icon>
            </mat-chip>
        </div>
        <div *ngIf ="(tomorrow | date : shortDate)==(index|date:shortDate)">
                <mat-chip> Tomorrow {{index|date:'shortTime'}}
                    <app-add-reminder style="color:rgb(223,223,223)" 
                    [reminder]="notes"
                     (remindEmit)="deleteEvent($event)">
                      </app-add-reminder>
                    <mat-icon (click)="deleteReminder(notes.id)" matChipRemove>cancel</mat-icon>
                </mat-chip>
            </div>
            <div *ngIf ="(today | date : shortDate)!=(index|date:shortDate)&&
            (tomorrow | date : shortDate)!=(index|date:shortDate)">
                    <mat-chip>{{index|date:'medium'}}
                        <app-add-reminder style="color:rgb(223,223,223)" [reminder]="notes" 
                        (remindEmit)="deleteEvent($event)">
                          </app-add-reminder>
                        <mat-icon (click)="deleteReminder(notes.id)" matChipRemove>cancel</mat-icon>
                    </mat-chip>
                </div>
        </mat-chip-list>
    </div>
  </div> -->



<!-- 
<div >
    <div class="mininote" fxLayout="row wrap" fxLayoutAlign="center center" fxFlex.xs="98" fxLayoutGap="10px" fxFlex="80">
        <div *ngFor="let items of trashcards ; let i = index">
            <div>
                <mat-card class="minicard" [style.backgroundColor]="items.color">
                    <div>
                        <div fxLayout="row">
                            <div (click)="openDialog(item)">{{items.title}}</div>
                            <div fxLayout="row" fxLayoutAlign="end start"><button mat-icon-button>
                                </button>
                            </div>
                        </div>

                        <div>{{items.description}}</div>
                        <div class="icons-div">
                            <app-icon-list fxLayout="row" [card]="items" fxLayoutAlign="space-between end" (colorEmit)="Changescolor($event)"
                                (childObject)="update($event)">

                            </app-icon-list>
                        </div>
                    </div>
                </mat-card>
            </div>
        </div>
    </div>
</div> -->