<div class="pinned" *ngIf="pinArray.length > 0 && unPinArray.length > 0">pined</div>

<div [ngClass]="gridClass" fxLayoutGap='1%'>
    <div class="inside" *ngFor="let items of pinArray | searchBar:Search; let i=index ">
        <div class="align">
            <mat-card class="mat"  class="minicard" [style.backgroundColor]="items.color">

                <div fxLayout='column'>

                    <div fxLayout="row" fxLayoutAlign="space-between center">
                        <div (click)="openCard(items)" style="cursor : pointer">{{items.title}}</div>
                        <div fxLayout="row" fxLayoutAlign="end start"><button mat-icon-button (click)='unPin(items,i)'>
                                <img src="../../../assets/image/pinbar.svg">
                            </button>
                        </div>
                    </div>

                    <div (click)="openCard(items)" style="cursor : pointer">{{items.description}}</div>

                <!-- .................collaborator display................. -->
                    <div fxLayout="row wrap" class="spacebetween">
                        <div *ngFor="let index of items.collaborators" (click)="openCollaboratorPage(notes)">
                            <button mat-mini-fab class="colbutton" matTooltip={{index.email}}>
                                {{index.firstName|slice:0:1 | uppercase }}
                            </button>
                        </div>
                    </div><br>
                    <!-- ...............Labels display........... -->
                    <div fxLayout="row wrap">
                        <div *ngFor="let index of labelName">
                            <mat-chip-list>
                                <mat-chip>{{index.label}}
                                    <mat-icon (click)="cancelLabel()" matChipRemove>cancel</mat-icon>
                                </mat-chip>
                            </mat-chip-list>
                        </div>
                    </div>

                    <!-- reminder display -->
                    <mat-chip-list #chipList *ngIf="items.reminder?.length>0">
                        <mat-chip>
                            {{items.reminder[0] | date:'d'}}{{items.reminder[0] | date:'MMM '}}{{items.reminder[0] | date:'shortTime'}}
                            <mat-icon matChipRemove (click)="removeReminder(items)">cancel</mat-icon>
                        </mat-chip>
                    </mat-chip-list>
                    <div>
                        <app-icon-list [card]="items" (colorEmit)="Changescolor($event)" (childObject)="update($event)">
                        </app-icon-list>
                    </div>
                </div>
                <hr>
                <div>
                    <div>
                        Question Asked
                    </div><br>
                    <div *ngIf=" items.questionAndAnswerNotes.length!=0" class="pointTo" (click)="goToQA(items.id)">
                        <div innerHTML={{items.questionAndAnswerNotes[0].message}}></div>
                    </div>
                </div>
                <!-- <app-add-archive [archive]="items" (archiveEmit)="deleteEvent($event)"></app-add-archive> -->


            </mat-card>
        </div>
    </div>
</div>


<div class="pinned" *ngIf="pinArray.length > 0 && unPinArray.length > 0">others</div>
<div [ngClass]="gridClass" fxLayoutGap='1%'>
        <div class="inside" *ngFor="let items of unPinArray | searchBar:Search; let i=index ">
            <div class="align">
                <mat-card class="mat"  class="minicard" [style.backgroundColor]="items.color">
    
                    <div fxLayout='column'>
    
                        <div fxLayout="row" fxLayoutAlign="space-between center">
                            <div (click)="openCard(items)" style="cursor : pointer">{{items.title}}</div>
                            <div fxLayout="row" fxLayoutAlign="end start"><button mat-icon-button (click)='pin(items,i )'>
                                    <img src="../../../assets/image/unpin.svg">
                                </button>
                            </div>
                        </div>
    
                        <div (click)="openCard(items)" style="cursor : pointer">{{items.description}}</div>
    
                    <!-- .................collaborator display................. -->
                        <div fxLayout="row wrap" class="spacebetween">
                            <div *ngFor="let index of items.collaborators" (click)="openCollaboratorPage(notes)">
                                <button mat-mini-fab class="colbutton1" matTooltip={{index.email}}>
                                    {{index.firstName|slice:0:1 | uppercase }}
                                </button>
                            </div>
                        </div><br>
                        <!-- ...............Labels display........... -->
                        <div fxLayout="row wrap">
                            <div *ngFor="let index of labelName">
                                <mat-chip-list>
                                    <mat-chip>{{index.label}}
                                        <mat-icon (click)="cancelLabel()" matChipRemove>cancel</mat-icon>
                                    </mat-chip>
                                </mat-chip-list>
                            </div>
                        </div>
    
                        <!-- reminder display -->
                        <mat-chip-list #chipList *ngIf="items.reminder?.length>0">
                            <mat-chip>
                                {{items.reminder[0] | date:'d'}}{{items.reminder[0] | date:'MMM '}}{{items.reminder[0] | date:'shortTime'}}
                                <mat-icon matChipRemove (click)="removeReminder(items)">cancel</mat-icon>
                            </mat-chip>
                        </mat-chip-list>
                        <div>
                            <app-icon-list [card]="items" (colorEmit)="Changescolor($event)" (childObject)="update($event)">
                            </app-icon-list>
                        </div>
                    </div>
                    <hr>
                    <div>
                        <div>
                            Question Asked
                        </div><br>
                        <div *ngIf=" items.questionAndAnswerNotes.length!=0" class="pointTo" (click)="goToQA(items.id)">
                        <div innerHTML={{items.questionAndAnswerNotes[0].message}}></div>
                        </div>
                    </div>
                    <!-- <app-add-archive [archive]="items" (archiveEmit)="deleteEvent($event)"></app-add-archive> -->
    
    
                </mat-card>
            </div>
        </div>
    </div>
    









































































